@import './common';
@import './example';

button {
  cursor: pointer;
}

* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.form-wrapper {background: #A3D0C3;}
.form-wrapper input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.form-wrapper button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.form-wrapper button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.load-more {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #7BA7AB;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: #7BA;
  }
}

.gallery {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;

  &__item-wrapper {
    padding: 0px;
    width: calc((100% - 60px) / 4);
    border: 1px solid lightgray;
    border: 1px solid lightgray;
  
    & img {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-top: none;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.load-more {
  margin-bottom: 20px;
}